.letter {
    border-bottom: 1px solid black;
    margin: 0 20px;
    font-size:36px;
    width: 36px;
    text-align: center;
}
.alphabet-container button {
    padding: 10px;
    background-color: gray;
    margin: 5px;
    color: black;
    font-size:28px;
    width:28px;
    text-align: center;
}